@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
    background-color: #FFF5EE;
}

header {
    background-color: #7D4A2C;
    color: white;
}

footer {
    background-color: #7D4A2C;
    color: white;
}

#logo {
    display: block;
    max-width: 128px;
    margin-right: auto;
    margin-left: auto;
}

#btn-post {
    float: right;
}

.reacts {
    column-gap: 1em;
    float: right;
    background-color: #FFF5EE;
    padding: 0.5em;
}

.react-like::before {
    content: '👍';
}

.react-heart::before {
    content: '❤️';
}

.react-java::before {
    content: '☕';
}

.btn-reactLike::before {
    content: '👍';
}

.btn-reactHeart::before {
    content: '❤️';
}

.btn-reactJava::before {
    content: '☕';
}
